{# coding:utf-8 tabstop=4 shiftwidth=4 expandtab #}
{# Copyright 2012 Aidan Skinner <aidan@skinner.me.uk> All Rights Reserved. #}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script type="text/javascript">
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    {%- block scripts %}{% endblock scripts %}
  </head>
  <body>
    {%- block container %}{% endblock container %}
  </body>
</html>
