{# coding:utf-8 tabstop=4 shiftwidth=4 expandtab #}
{# Copyright 2012 Aidan Skinner <aidan@skinner.me.uk> All Rights Reserved. #}

{% extends "base.html" %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 50% }
  </style>
  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBtPenmfNLwDX1BOjuxnCD-eSsu4D5uXSk&sensor=false">
  </script>      
{% endblock %}
  
  
{% block container %}
  <div class="container">
    <div class="row">
      <div class="span4">
        <select id="type" name="type">
          <option value="total">Total</option>
          <option value="percentage">Percentage</option>
        </select>
      </div>
      <div class="span2">
        <select id="candidate_1" name="candidate">
          <option selected="true">
            --Pick a candidate---
          </option>
          {% for candidate in candidates %}
          <option value="{{ candidate.id }}">
            {{ candidate.name }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="span2">
        <select id="preference_1" name="preference_1">
          {% for pref in candidates %}
            <option value="{{ loop.index0 }}">Preference: {{ loop.index }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="span2">
        <select id="candidate_2" name="candidate">
          <option selected="true">
            --Pick a candidate---
          </option>
          {% for candidate in candidates %}
          <option value="{{ candidate.id }}">
            {{ candidate.name }}
          </option>
          {% endfor %}
        </select>
      </div>
      <div class="span2">
        <select id="preference_2" name="preference_2">
          {% for pref in candidates %}
            <option value="{{ loop.index0 }}">Preference: {{ loop.index }}</option>
          {% endfor %}
        </select>
      </div>
    </div><!-- row -->
    {% for station in stations %}
    <div class="row">
      <div class="span4">
        {{ station.name }}
      </div>
      <div class="span4">
        <span id="0{{ station.id }}">Unknown for {{ station.name }}</span>
      </div>
      <div class="span4">
        <span id="1{{ station.id }}">Unknown for {{ station.name }}</span>
      </div>
    </div><!-- row -->
    {% endfor %}
  </div><!-- container -->
  <div id="map_canvas"></div>
{% endblock container %}

