{# coding:utf-8 tabstop=4 shiftwidth=4 expandtab #}
{# Copyright 2012 Aidan Skinner <aidan@skinner.me.uk> All Rights Reserved. #}

{% extends "base.html" %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 100% }
  </style>
  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBtPenmfNLwDX1BOjuxnCD-eSsu4D5uXSk&sensor=false">
  </script>      
{% endblock %}
  
  
{% block container %}
  <table>
    <tr>
      <td>
        <select id="candidate_1" name="candidate">
          <option selected="true">
            --Pick a candidate---
          </option>
          {% for candidate in candidates %}
          <option value="{{ candidate.id }}">
            {{ candidate.name }}
          </option>
          {% endfor %}
        </select>
        <select id="preference_1" name="preference_1">
          {% for pref in candidates %}
            <option value="{{ loop.index0 }}">Preference: {{ loop.index }}</option>
          {% endfor %}
        </select>
      </td>
      <td>
        <select id="candidate_2" name="candidate">
          <option selected="true">
            --Pick a candidate---
          </option>
          {% for candidate in candidates %}
          <option value="{{ candidate.id }}">
            {{ candidate.name }}
          </option>
          {% endfor %}
        </select>
        <select id="preference_2" name="preference_2">
          {% for pref in candidates %}
            <option value="{{ loop.index0 }}">Preference: {{ loop.index }}</option>
          {% endfor %}
        </select>
      </td>
      <td>
        <select id="type" name="type">
          <option value="total">Total</option>
          <option value="percentage">Percentage</option>
        </select>
      </td>
    <tr>
      <td>
        <table>
          {% for station in stations %}
          <tr>
            <td> {{ station.name }} : </td>
            <td><span id="0{{ station.id }}">Unknown for {{ station.name }}</span></td>
          </tr>
          {% endfor %}
        </table>
      </td>
      <td>
        <table>
          {% for station in stations %}
          <tr>
            <td> {{ station.name }} : </td>
            <td><span id="1{{ station.id }}">Unknown for {{ station.name }}</span></td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
  </table>
  <div id="map_canvas"></div>
{% endblock container %}

