{# coding:utf-8 tabstop=4 shiftwidth=4 expandtab #}
{# Copyright 2012 Aidan Skinner <aidan@skinner.me.uk> All Rights Reserved. #}

{% extends "base.html" %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map_canvas { height: 50% }
  </style>
  <script type="text/javascript"
          src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBtPenmfNLwDX1BOjuxnCD-eSsu4D5uXSk&sensor=false">
  </script>      
{% endblock %}
  
  
{% block container %}
  <div class="container">
    <div class="row">
      <div class="span4">
        <select id="ward" name="ward">
          {% for ward in wards %}
          <option value="{{ ward.id }}">
            WARD {{ ward.number }} - {{ ward.name }}
          </option>
          {% endfor %}
        </select>
        <select id="type" name="type">
          <option value="total">Total</option>
          <option value="percentage">Percentage</option>
        </select>
      </div>
      <div class="span4">
        <select id="candidate_1" name="candidate">
        </select>
        <br/>
        Preference: 
        <select id="preference_1" name="preference_1">
        </select>
      </div>
      <div class="span4">
        <select id="candidate_2" name="candidate">
        </select>
        <br/>
        Preference: 
        <select id="preference_2" name="preference_2">
        </select>
      </div>
    </div><!-- /row -->
    <div id="stations">
    </div><!--/stations -->
  </div><!-- container -->
  <div id="map_canvas"></div>
{% endblock container %}

