# Tools & testing
nose==1.0.0
coverage==3.4
pyflakes==0.4.0
PEP8==0.6.1

# Python utility libraries
blinker==1.1

# Web Frameworks
Flask
Jinja2
html5lib
jqmobile

# Database
pymongo
mongoengine
# flask-monoengine doesn't have tags, so point to 0.1.3 number bump
https://github.com/sbook/flask-mongoengine/tarball/d907e36e8055bdf81d73291a86f5a2b4634a5e25

# fix our decorators
decorator==3.3.2


# GIS factory 
shapely 

